/* ---- BODY ---- */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* ---- FIN BODY ---- */

/* ---- HEADER ---- */
header {
    background-color: #f8f2e8;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    text-align: center;
    color: black;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: black;
}

nav a:hover {
    background-color: #e0e0e0;
}


.Connexion {
    background-color: #030404;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
   
}


/* ---- FIN HEADER ---- */


/* ----  SECTION ---- */

/* Style pour centrer le texte et le positionner */
.image-contenaire {
    position: relative; 
    text-align: center; 
}

.texte-superpose {
    position: absolute;
    top: 35%;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0);
    padding: 50px;
    

    /* Todo */
    @media screen and (max-width: 1024px) {
        top: 30%;
    }

    @media screen and (max-width: 880px) {
        top: 20%;
    }

    @media screen and (max-width: 725px) {
        top: 20%;
    }
    @media screen and (max-width: 570px) {
        top: 25%;
    }
    @media screen and (max-width: 380px) {
        top: 13%;
    }


}

.image-contenaire1 {
    position: relative; 
    text-align: center; 

}

.texte-superpose1 {
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    background: rgba(0, 0, 0, 0); 
    padding: 50px;
    @media screen and (max-width: 1100px) {
        top :27.5%;
     }
     @media screen and (max-width: 580px) {
        top :33%;
     }
     @media screen and (max-width: 370px) {
        top :17%;
     }

}

.texte-superpose2 {
    position: absolute; 
    top: 50%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    color: white; 
    background: rgba(0, 0, 0, 0); 
    padding: 50px;
    @media screen and (max-width: 1100px) {
        top :40%;
     }
     
    @media screen and (max-width: 700px) {
        top :35%;
     }
     @media screen and (max-width: 400px) {
        top :20%;
         
     }
     

}

.texte-superpose3 {
    position: absolute;
    top: calc(50% + 50px); 
    left: 60%; 
    transform: translate(-50%, -50%); 
    color: white; 
    background: rgba(0, 0, 0, 0);
    font-size: 24px;

    @media screen and (max-width: 1100px) {
        top :40%;
     }


    @media screen and (max-width: 800px) {
       top :38%;
        
    }
    @media screen and (max-width: 630px) {
        top :38%;
         
     }
    @media screen and (max-width: 580px) {
        top :45%;
         
     }
     @media screen and (max-width: 400px) {
        top :21.5%;
         
     }
    
}

.image-menu {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.dame-index {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 2em;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.article-index {
    max-width: 80%;
    margin: auto;

    @media screen and (min-width: 768px) {
        max-width: 50%;
    }
}

.aside-index {
    max-width: 100%;

    @media screen and (min-width: 768px) {
        max-width: 50%;
    }
}

article img {
    width: fit-content;
    max-width: 100%;
}

aside {
    max-width: 50%;
    padding: 10px;
    margin-right: auto;
}


.dame-other-page {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 2em;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}


.article-other-page {
    margin: auto;

}


.article-other-page {
    max-width: 90%;

    @media screen and (min-width: 425px) {
        max-width: 70%;
    }

    @media screen and (min-width: 768px) {
        max-width: 50%;
    }
}

.aside-other-page {
    margin: auto;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%; 
    margin: 0 auto;
    max-height: 400px; 
}

.carousel-slide {
    flex: 0 0 100%; 
    position: relative; 
}

.carousel-slide img {
    width: 100%;
    height: auto;
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
}

        
.MesBouilles {
        text-align: center; 
        margin-top: 20px; 
    }

.prev-button, .next-button {
        display: block; 
        margin: 0 auto; 
}


#map {
    width: 80%;
    height: 400px;
    margin: 2em auto;
}

form {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.labels-group {
    width: 48%;
    margin-bottom: 10px;
    text-align: left;
}

.fond-actualite {
    background-image: url('../Image/005.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 0;
    
}

.texte-actualite {
    color: white;

}

.texte1 {
    font-size: 1.8em;
    font-weight: bold;
    color: #f30909;
    @media screen and (max-width: 650px) {
        font-size: 1.0em;
        
    }
    
}

.texte2 {
    font-size: 2.2em;
    color: #d51919;
    @media screen and (max-width: 650px) {
        font-size: 1.0em;
        
    }
}

.texte3 {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;

    @media screen and (min-width: 1256px) {
        font-size: 3em;
    }
    @media screen and (max-width: 600px) {
        font-size: 1em;
       
        
    }
}

.texte4 {
    font-size: 1.5em;
    color: #ffffff;
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1256px) {
        font-size: 3em;
    }
    @media screen and (max-width: 800px) {
        font-size: 1.2em;
        
        
    }
    @media screen and (max-width: 500px) {
        font-size: 0.6em;
    
    }
}

.texte5 {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;

    @media screen and (min-width: 1256px) {
        font-size: 2em;
    }
    
    
}

.texte6{
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;

    @media screen and (max-width: 1100px) {
        font-size: 0.6em;
        max-height: 80%;
        
    }
    @media screen and (max-width: 500px) {
        font-size: 0.6em;
        
        
    }
    @media screen and (max-width: 500px) {
        font-size: 0.4em;
        
        
    }
}

.texte-act {
    color: #ffffff;
    margin-left: 20px;
}

/* ---- FIN  SECTION ---- */

/* ---- FOOTER ---- */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f2e8;
    padding: 20px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.footer-informations {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
        padding-bottom: 10px;
    }
}

.footer-informations h2 {
    text-align: center;
}

footer p {
    margin: 0;
}

/* ---- FIN FOOTER ---- */


