/* ---- BODY ---- */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* ---- FIN BODY ---- */

/* ---- HEADER ---- */
header {
    background-color: #f8f2e8;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    text-align: center;
    color: black;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: black;
}

nav a:hover {
    background-color: #e0e0e0;
}


.Connexion {
    background-color: #030404;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* ---- FIN HEADER ---- */


/* ----  SECTION ---- */

/* Style pour centrer le texte et le positionner */
.image-contenaire {
    position: relative; /* Position relative pour que le texte soit positionn par rapport ce conteneur */
    text-align: center; /* Alignement du texte au centre */

}

.texte-superpose {
    position: absolute;
    top: 35%;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0);
    padding: 50px;

    /* Todo */
    @media screen and (max-width: 1024px) {
        top: 30%;
    }

    @media screen and (max-width: 880px) {
        top: 20%;
    }

    @media screen and (max-width: 725px) {
        top: 10%;
    }
}

.image-contenaire1 {
    position: relative; /* Position relative pour que le texte soit position*/
    text-align: center; /* Alignement du texte au centre */

}

.texte-superpose1 {
    position: absolute; /* Position absolue pour superposer le texte sur l'image */
    top: 30%; /* Positionne le texte au milieu en hauteur */
    left: 50%; /* Positionne le texte au milieu en largeur */
    transform: translate(-50%, -50%); /* Centre le texte correctement */
    color: white; /* Couleur du texte */
    background: rgba(0, 0, 0, 0); /* Fond semi-transparent pour le texte */
    padding: 50px; /* Rembourrage du texte */

}

.texte-superpose2 {
    position: absolute; 
    top: 50%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    color: white; 
    background: rgba(0, 0, 0, 0); 
    padding: 50px; 
}

.texte-superpose3 {
    position: absolute;
    top: calc(50% + 50px); 
    left: 60%; 
    transform: translate(-50%, -50%); 
    color: white; 
    background: rgba(0, 0, 0, 0);
    font-size: 24px;
}

.image-menu {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.dame-index {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 2em;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.article-index {
    max-width: 80%;
    margin: auto;

    @media screen and (min-width: 768px) {
        max-width: 50%;
    }
}

.aside-index {
    max-width: 100%;

    @media screen and (min-width: 768px) {
        max-width: 50%;
    }
}

article img {
    width: fit-content;
    max-width: 100%;
}

aside {
    max-width: 50%;
    padding: 10px;
    margin-right: auto;
}

/* Other page (all pages without index) */
.dame-other-page {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 2em;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.article-other-page {
    margin: auto;
}

.article-other-page {
    max-width: 90%;

    @media screen and (min-width: 425px) {
        max-width: 70%;
    }

    @media screen and (min-width: 768px) {
        max-width: 50%;
    }
}

.aside-other-page {
    margin: auto;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 25%; /* la largeur du conteneur à votre convenance */
    margin: 0 auto;
}

.carousel-slide {
    flex: 0 0 100%; /* 100% de la largeur du conteneur */
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.image_propos {
    width: 10%;
    height: auto;
}

.MesBouilles {
    text-align: center;
    margin-top: 20px;
}

#map {
    width: 80%;
    height: 400px;
    margin: 2em auto;
}

form {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.labels-group {
    width: 48%;
    margin-bottom: 10px;
    text-align: left;
}

.fond-actualite {
    background-image: url('../Image/005.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px 0;
}

.texte-actualite {
    color: white;
}

.texte1 {
    font-size: 1.8em;
    font-weight: bold;
    color: #bc8831;
}

.texte2 {
    font-size: 2.2em;
    color: #927950;
}

.texte3 {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;

    @media screen and (min-width: 1256px) {
        font-size: 4em;
    }
}

.texte4 {
    font-size: 1.5em;
    color: #ffffff;
    position: absolute;
    top: calc(50% + 20px); /* la valeur pour l'espace entre les deux éléments */
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1256px) {
        font-size: 3em;
    }
}

.texte5 {
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;

    @media screen and (min-width: 1256px) {
        font-size: 1em;
    }
}

.texte-act {
    color: #ffffff;
    margin-left: 20px;
}

/* ---- FIN  SECTION ---- */

/* ---- FOOTER ---- */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f2e8;
    padding: 20px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.footer-informations {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    @media screen and (min-width: 768px) {
        padding-bottom: 10px;
    }
}

.footer-informations h2 {
    text-align: center;
}

footer p {
    margin: 0;
}

/* ---- FIN FOOTER ---- */


